@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --pear: #c9d431;
  --cadet-blue: #6fa6b2;
  --grey: #e8eaec;
  --light-grey: #f2f2f2;
  --dark-blue: #253c57;
  --white: #fff;
}

body {
  max-width: 1800px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  overflow-x: hidden;
}

/********** Utility Classes **********/
.flex {
  display: flex;
  gap: 1rem;
}

/********** Header **********/
a {
  color: var(--dark-blue);
}

a:hover {
  color: var(--pear);
  transition: 0.2s;
}

header {
  background-color: var(--white);
  min-height: 7vh;
}

/********** Primary Header **********/
.logo {
  margin-left: 2rem;
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: var(--dark-blue);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  margin-right: 2rem;
  gap: 2.5rem;
}

/********** Hero Section **********/

.hero {
  position: relative;
  height: 75vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text image";
  align-items: center;
  justify-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/hero-image04.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 0;
  filter: brightness(80%);
  grid-column: 1/3;
  grid-row: 1/2;
}

.hero-content {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1/2;
  justify-self: end;
  margin-left: 20vw;
}

.hero-title {
  color: var(--light-grey);
  font-size: clamp(2.5rem, 10vw, 5rem);
  white-space: nowrap;
}

.hero-subtitle {
  color: var(--pear);
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: 300;
}
/********** Social Media Icons **********/
.social-media-icons {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
}

.social-media-icons i {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  border-radius: 50%;
  color: var(--light-grey);
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

/********** Tablet Size **********/
@media (max-width: 880px) {
  .primary-navigation {
    white-space: nowrap;
    background-color: red;
    gap: 1rem;
  }
  .logo {
    white-space: nowrap;
  }

  .hero {
    height: 50vh;
  }

  .hero-title {
    color: var(--light-grey);
    font-size: clamp(2.5rem, 10vw, 3rem);
    white-space: nowrap;
  }

  .hero-content {
    margin-left: 10vw;
  }
}

/********** Mobile Size **********/
@media (max-width: 560px) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 7vh 0 0 0%;
    margin-right: 0rem;
    flex-direction: column;
    padding: min(10vh, 10rem) 2rem;
    background: hsl(0 0% 100% / 1);
    backdrop-filter: blur(2rem);
    text-align: center;
    transform: translateX(100%);
    transition: transform 350ms ease-in;
    gap: 5rem;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 999;
    background-color: transparent;
    background-image: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2.5vh;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../images/icon-close.svg);
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    position: relative;
    width: 100vw;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "text"
      "image";
    align-items: center;
    justify-items: center;
    background-color: var(--grey);
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/hero-image04-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    filter: brightness(100%);
    grid-row: 2/3;
  }

  .hero-content {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1/2;
    justify-self: center;
    text-align: center;
    margin-left: 0;
  }

  .hero-title {
    color: rgb(255, 255, 255);
  }

  .hero-subtitle {
    color: var(--pear);
    font-weight: 300;
  }

  .social-media-icons {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
  }
}
